/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
}

/*changing caption size, weight and margin*/
caption{
	font-size: 200%;
	font-weight: bold; 
	margin-top: 10px;
	margin-bottom: 10px;
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead 
{
	background-color: yellow;
}


/* I added dept(as id), right and last_row (as class) blocks  */

#dept 
{
	vertical-align: top;
	font-weight: bold;
	background-color: white;
}

.right{
	text-align: right;
}

.last_row{
	font-weight: bold;
	text-align: right;
}

/*-------------------------------------------*/


th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}



tbody tr:nth-child(even) td 
{
	background-color: yellow;
}
